@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is made with Default Connection to a local database.</p>
    <p>Options for creating new Genre and Person are available before testing the creation and editing of a Movie.</p>
</div>
